@import "tailwindcss";

@theme {
  --color-uajy-bg: #0a4375;
  --color-uajy-bg-dark: #073259;
  --color-uajy-yellow: #eba918;
  --color-uajy-yellow-hover: #d49512;
  --color-uajy-button: #116df9;
  --color-uajy-button-hover: #0b5ce0;
}

@layer base {
  body {
    background-color: var(--color-uajy-bg);
    color: #f1f5f9;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-uajy-bg);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-uajy-bg-dark);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-uajy-yellow);
  }
}
